body {
    margin:0px;
    padding:0px;
}

.navbar {
    margin:0px;
    padding:0px;
    height: inherit;
    background: black;
    color:white;
    button {
        height:5vw;
        background:black;
        color: white;
        border: 0px;
    }
    button:hover {
        background: rgb(83, 83, 83);
    }
    button:disabled {
        background:rgb(83,83,83);
        color:black;
    }
}

div :not(.text-image, .navbar, button, p, input) {
    margin: 2vw;
}

/* Top Half */
.location {
    margin:0px 0px;
    padding:0px 0px;
    background:lightgrey;
    /*.narration {
        #dialog {

        }

        #narration {

        }
    } */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#kermit {
    padding:auto 0px auto 0px;
    margin:auto 0px auto 0px;
    color: green;
}

div:not(.navbar){
    button:not(:disabled) {
        background:rgb(230, 255, 230);
    }
}


#textImage {
    background:yellowgreen;
    padding: 0px 0px;
    margin: 0px 0px;
    height:calc(100vh - 5vw);
    max-width:55vw;
    min-width:45vw;
    object-fit: cover;
}

.interaction {
    background:white;
    /* Directional Choice */
    .directionChoice {
        .specialThree {
            display: none;
        }
        
        .specialTwo {
            display:none;
        }
        
        
    }
    .binary-choice {
        display:none;
        padding: 2vw;
        left: 4vw;
        position: relative;
    }
    .list-choice {
        display: none;
    }
    .input-text {
        display: block;
        padding: 0px  2vw;
        position: relative;
    }
}

input:not(:disabled) {
    background:rgb(230, 255, 230);
}